*{
    box-sizing: border-box;
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "Playfair Display";
    font-weight: lighter;
    color: lightgray;
}
li, a, button{
    font-weight: 500;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
section{
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
}
.container{
    height: 110vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}



/*
<!========= HALAMAN PERTAMA =========>
<!=========                 =========>
*/

/*<------ NAVBAR ------>*/
.page.first{
    background-image: url(../img/BG-second.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
    background-repeat:repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(176, 171, 171);
    animation: change 15s infinite ease-in-out;
}

@keyframes change{
    0%{
        background-image: url(../img/BG-second.jpg);
    }
    30%{
        background-image: url(../img/BG-third.jpg);
    }
    60%{
        background-image: url(../img/BG-fourth.jpg);
    }
    100%{
        background-image: url(../img/BG-second.jpg);
    }
}



.nav-container{
    height: 80px;
    width: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0px;
}
.logo{
    cursor: pointer;
    transform: scale(1.5);
    padding: 0px 20px;
    color: whitesmoke;
}
.navbar{
    width: 100%;
    padding: 0px 10px;
    font-size: larger;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content:space-between
}
.navbar ul li{
    list-style: none;
    padding: 0px 20px;
    opacity: 0.8;
}
.navbar ul li:hover{
    opacity: 1;
}
.navbar ul button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.2s ease;
}
.navbar ul button:hover{
    transform: scale(1.1);
}


/*<-------- Content -------->*/
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 40%;
}
.content h1, p, button{
    padding: 15px 0px;
    text-align: center;
    font-size: medium;
    font-weight: lighter;
}
.content h1{
    font-size: 3rem;
    font-weight: lighter;
    color: whitesmoke;
}
.content p{
    font-family: 'Playfair Display', sans-serif;
    color: rgb(182, 182, 182);
}
.more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    background: none;
    border: 1px solid white;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.more a{
    font-family: 'Playfair Display', sans-serif;
}
.more i{
    color: lightgray;
}



/* 
<!======    HALAMAN DUA     ======> 
<!======                    ======>
*/

/*<----     TITLE      ---->*/
.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}



/*<-----    ANIMATION   ----->*/
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}
.card:nth-child(0){
    transition-delay: 200ms;
}
.card:nth-child(2){
    transition-delay: 400ms;
}



.second-content{
    width: 40%;
    margin: 50px 0px;
    text-align: center;
    font-size: medium;
    font-weight: lighter;
}
.cards{
    width: 75%;
    height: 500px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cards img{
    height: 350px;
    width: 300px;
}
.second-content p{
    font-family: 'Playfair Display', sans-serif;
    color: gray;
    font-weight: lighter;
}
.second-content h1{
    color: #3f3f3f;
    font-size: 2.5rem;
}
.card h3{
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    color: #3f3f3f;
    font-size: 1rem;
}
.card p{
    cursor: pointer;
    padding: 5px 0px;
    color: gray;
    font-family: 'Playfair Display', sans-serif;
    font-size: smaller;
}


/* 
<!  =======     HALAMAN TIGA    =======>
    =======                     =======>
*/
.third{
    background-color: rgb(221, 221, 221);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    opacity: 0;
    filter: blur(5px);
    transition: all 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}
.description{
    position: relative;
    width: fit-content;
    margin: 50px 100px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description p{
    font-family: 'Playfair Display', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: gray;
}
.button3{
    width: 180px;
    height: 65px;
    border: 1px solid #3f3f3f;
}
.button3 a, .button3 .icon3{
    font-family: 'Playfair Display', sans-serif;
    color: #3f3f3f;
}
.third img{
    width: 100%;
    height: 400px;
}


/*
<!  =======     HALAMAN EMPAT   =======>
    =======                     =======>            
*/
.service{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
}
.service-container{
    width: 85%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service-desc{
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.service-pict img{
    width: 425px;
    height: 400px;
}
.service-desc h1{
    color: #3f3f3f;
}
.service-desc p{
    color: gray;
}
.servicebtn{
    border: 1px solid #3f3f3f;
}
.servicebtn a{
    color: #3f3f3f;
}

/*
<!  =======     HALAMAN EMPAT, ENAM   =======>
    =======                     =======>            
*/
.fourth, .sixth{
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

/*
<!  =======     HALAMAN TUJUH   =======>
    =======                     =======>            
*/

.fifth{
    filter: blur(5px);
    transform: translateX(100%);
    overflow-x: hidden;
    transition: all 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

/*
<!  =======     HALAMAN TUJUH   =======>
    =======                     =======>            
*/
.page.seventh{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.seventh-container{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 190px;
    background-color: rgb(187, 187, 187);
}
.seventh-container h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #272727;
}
.button7{
    border: 1px solid #3f3f3f;
}
.button7 a, i{
    color: #3f3f3f;
}
.seventh .slides{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.seventh .slides .slide{
    width: 250px;
    height: 200px;
}
.seventh .slides .slide .slide-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.seventh .slides .slide .slide-title i{
    font-size: 35px;
    color: #3f3f3f;
    margin-right: 10px;
}
.seventh .slides .slide .slide-title p{
    font-size: 25px;
    color: #3f3f3f;
}
.seventh .slides .slide .slide-desc p{
    color: rgb(145, 145, 145);
}
.button7{
    border: 1px solid #3f3f3f;
}

/*
<!======== Footer ========!>
<!======== Footer ========!>
*/
.last{
    height: 45vh;
}
.footer{
    background-color: #1f1f1f;
    height: 45vh;
    width: 100%;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .logo{
    position: absolute;
    left: 70px;
    top: 50px;
    width: 10%;
    padding: 0px 50px;
}
.footer .logo h2{
    color: whitesmoke;
}
.footer .lists{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer .lists .list{
    margin: 0px 50px;
    height: 30vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.footer .lists .list h3{
    color: lightgray;
    margin-bottom: 10px;
}
.footer .lists .list p{
    color: gray;
    text-align: start;
}